<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ButterPayroll.Properties.InsuranceRates" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ButterPayroll.InsuranceRates" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ButterPayroll.Properties.Settings.DirectoryConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Directory.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ButterPayroll.Properties.Settings.PayrollDatabseConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\PayrollDatabse.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ButterPayroll.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ButterPayroll.Properties.Settings.Database1ConnectionString1"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\bin\Debug\Database1.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <ButterPayroll.Properties.InsuranceRates>
            <setting name="Medicare_A" serializeAs="String">
                <value>407</value>
            </setting>
            <setting name="Medicare_B" serializeAs="String">
                <value>104.9</value>
            </setting>
            <setting name="Medicare_AB" serializeAs="String">
                <value>511.9</value>
            </setting>
            <setting name="BlueCross_HMO_I" serializeAs="String">
                <value>57</value>
            </setting>
            <setting name="BlueCross_HMO_F" serializeAs="String">
                <value>162</value>
            </setting>
            <setting name="BlueCross_POS_I" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BlueCross_POS_F" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BlueCross_PPO_F" serializeAs="String">
                <value>253</value>
            </setting>
            <setting name="HIP_HMO_I" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="HIP_HMO_F" serializeAs="String">
                <value>175</value>
            </setting>
            <setting name="HIP_POS_I" serializeAs="String">
                <value>113</value>
            </setting>
            <setting name="HIP_POS_F" serializeAs="String">
                <value>308</value>
            </setting>
            <setting name="HIP_PPO_I" serializeAs="String">
                <value>209</value>
            </setting>
            <setting name="HIP_PPO_F" serializeAs="String">
                <value>628</value>
            </setting>
            <setting name="Aetna_HMO_I" serializeAs="String">
                <value>43</value>
            </setting>
            <setting name="Aetna_HMO_F" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="Aetna_POS_I" serializeAs="String">
                <value>97</value>
            </setting>
            <setting name="Aetna_POS_F" serializeAs="String">
                <value>237</value>
            </setting>
            <setting name="Aetna_PPO_I" serializeAs="String">
                <value>198</value>
            </setting>
            <setting name="Aetna_PPO_F" serializeAs="String">
                <value>603</value>
            </setting>
            <setting name="Dental_I" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="Dental_F" serializeAs="String">
                <value>53</value>
            </setting>
            <setting name="Optical_I" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="Optical_F" serializeAs="String">
                <value>49</value>
            </setting>
            <setting name="BlueCross_PPO_I" serializeAs="String">
                <value>1</value>
            </setting>
        </ButterPayroll.Properties.InsuranceRates>
        <ButterPayroll.InsuranceRates>
            <setting name="Medicare_A" serializeAs="String">
                <value>407</value>
            </setting>
            <setting name="Medicare_B" serializeAs="String">
                <value>104.9</value>
            </setting>
            <setting name="Medicare_AB" serializeAs="String">
                <value>511.9</value>
            </setting>
            <setting name="BlueCross_HMO_I" serializeAs="String">
                <value>57</value>
            </setting>
            <setting name="BlueCross_HMO_F" serializeAs="String">
                <value>162</value>
            </setting>
            <setting name="BlueCross_POS_I" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BlueCross_POS_F" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BlueCross_PPO_F" serializeAs="String">
                <value>253</value>
            </setting>
            <setting name="HIP_HMO_I" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="HIP_HMO_F" serializeAs="String">
                <value>175</value>
            </setting>
            <setting name="HIP_POS_I" serializeAs="String">
                <value>113</value>
            </setting>
            <setting name="HIP_POS_F" serializeAs="String">
                <value>308</value>
            </setting>
            <setting name="HIP_PPO_I" serializeAs="String">
                <value>209</value>
            </setting>
            <setting name="HIP_PPO_F" serializeAs="String">
                <value>628</value>
            </setting>
            <setting name="Aetna_HMO_I" serializeAs="String">
                <value>43</value>
            </setting>
            <setting name="Aetna_HMO_F" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="Aetna_POS_I" serializeAs="String">
                <value>97</value>
            </setting>
            <setting name="Aetna_POS_F" serializeAs="String">
                <value>237</value>
            </setting>
            <setting name="Aetna_PPO_I" serializeAs="String">
                <value>198</value>
            </setting>
            <setting name="Aetna_PPO_F" serializeAs="String">
                <value>603</value>
            </setting>
            <setting name="Dental_I" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="Dental_F" serializeAs="String">
                <value>53</value>
            </setting>
            <setting name="Optical_I" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="Optical_F" serializeAs="String">
                <value>49</value>
            </setting>
        </ButterPayroll.InsuranceRates>
    </userSettings>
</configuration>